<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="demolayout.css">

</head>
<body>

<div class="container">


    <div id="header" class="row">
        <h1>Header</h1>
    </div>
    <div id="navigation" class="row">
        <nav id="main-nav">
            <ul class="nav">
                <li class="nav-link"><a href="">Trang chủ</a></li>
                <li class="nav-link"><a href="">Tin tức</a></li>
                <li class="nav-link"><a href="">Liên hệ</a></li>
                <li class="nav-link"><a href="">Tin nội bộ</a></li>
                <li class="nav-link"><a href="">Tin hot</a></li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div id="main-content" class="col-md-8">
            <h3>Nội dung chính của trang sẽ thay đổi</h3>
        </div>
        <div id="sidebar" class="col-md-4">
            <h3>Danh mục sản phẩm</h3>
            <nav>
                <ul>
                    <li><a href="">Gia dụng</a></li>
                    <li><a href="">Điện tử</a></li>
                    <li><a href="">Phụ kiện</a></li>
                    <li><a href="">Điện lạnh</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="footer" class="row">
        <h1>Footer</h1>
    </div>
</div>



</body>
</html>